name: Release

on:
  push:
    branches:
      - main

jobs:
  tag:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Auto Tag
        uses: phish108/autotag@v1.1.58
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          tag_prefix: 'v'

